@use "../sass/abstracts/" as *;
.markdown-editor {
  background-color: var(--mode-bg);

  .column {
    border: none;
    border: rem(1.5) solid var(--mode-col);
  }
  .markdown-input,
  .markdown-preview {
    background-color: var(--mode-bg);
    .header {
      display: flex;
      justify-content: space-between;
      background-color: var(--mode-header);
      padding: rem(14);
      padding-right: rem(30);
      .title {
        color: var(--mode-h);
        text-transform: uppercase;
        color: var(--mode-p);
        font-weight: 500;
        letter-spacing: rem(2);
        font-size: rem(14);
      }
      svg:hover {
        path {
          fill: var(--orange);
        }
      }
    }
    #input,
    #preview {
      padding: rem(22);
      &::-webkit-scrollbar {
        width: rem(8);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--mode-col);
      }
    }
  }

  .markdown-input {
    #input {
      width: 100%;
      min-height: 40vh;
      resize: none;
      outline: none;
      border: none;
      font-family: "Roboto Mono";
      font-size: rem(14);
      line-height: rem(24);
      color: var(--mode-p);
      background-color: var(--mode-bg);
      font-weight: 400;
      &:focus {
        box-shadow: inset 0 0 0 1px var(--orange);
      }
    }
  }

  .markdown-preview {
    min-height: 100vh;
    #preview {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: rem(20);
      overflow: auto;
      * {
        font-size: rem(14);
        line-height: rem(24);
      }
      h1 {
        font-size: rem(32);
      }

      h2 {
        font-size: rem(24);
      }

      h3 {
        font-size: rem(20);
      }

      h4 {
        font-size: rem(16);
      }

      h5 {
        font-size: rem(14);
      }

      h6 {
        font-size: rem(12);
        color: var(--orange);
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: var(--mode-h);
        font-weight: 700;
      }

      p {
        color: var(--mode-p);
      }
      pre {
        color: var(--mode-p-block);
        background-color: var(--mode-bg-block);
        font-family: "Roboto Mono";
        padding: rem(24);
        white-space: pre-wrap;
      }
      blockquote > p {
        color: var(--mode-h);
        background-color: var(--mode-bg-block);
        padding: rem(24);
        font-weight: 700;
        border-left: rem(4) solid var(--orange);
      }
      a {
        color: var(--mode-h);
        text-decoration: underline;
      }
      ol {
        padding-left: rem(35);
        color: var(--mode-p);
      }

      ul {
        padding-left: rem(35);
        color: var(--mode-p);
        li {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: rem(-13);
            top: 50%;
            transform: translateY(-50%);
            height: rem(5);
            width: rem(5);
            background-color: var(--orange);
            border-radius: 50%;
          }
        }
      }
    }
  }

  @include mq(md) {
    display: flex;
    min-height: calc(100vh - rem(72));
    .markdown-input {
      flex: 1;
      #input {
        height: 100%;
        width: 100%;
      }
    }

    .markdown-preview {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .header {
        width: 100%;
      }
      #preview {
        max-width: rem(950);
      }
    }
  }
}
