@use "../sass/abstracts/" as *;
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--800);

  .modal-window {
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--500);
      opacity: 0.5;
    }
    .content {
      width: rem(350);
      background-color: var(--mode-bg);
      padding: rem(24);
      border-radius: rem(4);
      display: flex;
      flex-direction: column;
      gap: rem(16);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .title {
        color: var(--mode-h);
      }
      .message {
        color: var(--mode-p);
        font-size: rem(14);
        line-height: rem(24);
      }
      .confirm-and-delete-btn {
        background-color: var(--orange);
        padding-block: rem(10);
        border-radius: rem(4);
        color: var(--100);
        text-transform: capitalize;
        &:hover {
          background-color: var(--orange-hover);
        }
      }
    }
  }
  .left-side {
    display: flex;
    align-items: center;
    gap: rem(24);

    .sidebar-toggle-btn {
      width: rem(56);
      height: rem(56);
      background-color: var(--700);
      &:hover {
        background-color: var(--orange);
      }
    }
    .logo {
      display: none;
    }
    .rename-document {
      display: flex;
      width: rem(160);
      position: relative;
      transform: translateY(rem(7));
      .rename-field {
        background-color: inherit;
        border: none;
        color: var(--100);
        outline: none;
        height: 1.2em;
        overflow: scroll;
      }
      .rename-field:focus {
        box-shadow: 0 1px 0 0 var(--100);
      }
      svg {
        width: rem(30);
      }
      .rename-field-label {
        text-transform: capitalize;
        color: var(--400);
        font-weight: 300;
        position: absolute;
        top: rem(-20);
        left: rem(22);
        font-size: rem(13);
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: rem(10);
    padding-right: rem(10);
    .delete-document-btn {
      padding: rem(12);
      &:hover svg > path {
        fill: var(--orange);
      }
    }

    .save-document-btn {
      background-color: var(--orange);
      padding: rem(12);
      border-radius: rem(4);
      p {
        display: none;
      }
      &:hover {
        background-color: var(--orange-hover);
      }
    }
  }

  @include mq(xl) {
    .left-side {
      .logo {
        display: block;
      }
    }
  }

  @include mq(md) {
    .left-side {
      .sidebar-toggle-btn {
        width: rem(72);
        height: rem(72);
      }
    }
    .right-side {
      .save-document-btn {
        display: flex;
        gap: rem(8);
        p {
          display: inline;
          color: var(--100);
          text-transform: capitalize;
          font-size: rem(15);
        }
      }
    }
  }
}
